@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #129793;
    --color-shade: #9bd7df;
    --color-bg: #505050;
    --color-alt: #ff7260;
    --color-black: #000;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Background changed it to html element instead due to loading */
    /* background-image: url('./bgimg.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center; */
    /* 3d effect */
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;   
    transition: all 0.4s ease-in;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container {
    position: relative;
    margin: 10rem auto 0;
    width: 50rem;
    height: 25rem;
    padding: 2rem;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    /* -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; */ 
}

.hover_box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding: 3rem 0 0;

    /* Glass effect */
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, .15);
    box-shadow: 0 0 10px rgba(0, 0, 0, .25), inset 0 0 2px 0px white;
    background: rgba(0, 0, 0, .0125);
    overflow: hidden;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);

    /* 3d effect */
    -webkit-transition: 1.5s ease-in-out;
	transition: 1.5s ease-in-out;
    
    /* to get the 3d flip to work */
    cursor: pointer;   
}

.container:hover .hover_box {
    /* 3d effect */
    /* playing with the rotating effect, and transform, remove z and scale if just plain */
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg) translateZ(70px) scale(0.8);
	line-height: 1.5em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
}

.container:hover h1::before {
    width: 0%;
    opacity: 0;    
}

.container:hover h1::after {
    width: 100%;
    opacity: 1;    
}

h1, h4 {
    color: var(--color-primary);
    -webkit-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;    
}

h1 {
    text-align: center;
    width: 500px;    
}

h1::before {
    content: 'Hangman game';
    position: absolute; 
    top: 4rem;
    left: 0;   
    width: 100%;
    font-size: calc(2vmin + 3vmax);
    text-transform: uppercase;
    text-shadow: 1px 2px 1px var(--color-shade);
    -webkit-transition: 1.5s ease-in-out;
	transition: 0.4s ease-in-out;
}

h1::after {
    content: 'Pretty cool eh?!';
    position: absolute;
    top: 4rem;
    right: 0;
    width: 0%;
    font-size: calc(2vmin + 3vmax);
    text-shadow: 1px 2px 1px var(--color-shade);
    opacity: 0;
    transform: scale(-1, 1);
    -webkit-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}

h4 {
    margin-top: 0.5rem;
    text-align: center;
    text-shadow: 1px 2px 1px var(--color-black);
    font-size: calc(1vmin + 1.6vmax);
}

h4:nth-of-type(1) {
    margin-top: 6rem;
}

.btn {
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    border: 0;
    background: transparent;
    color: var(--color-alt);
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1.5rem 3rem;
    border: 1px solid var(--color-shade);
    border-radius: 25px;
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    color: var(--color-black);
}
.btn:hover::after, .btn:focus::after {
    top: 0;
    left: 0;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0,0,0,0.4);
}
  
.btn::after {
    content: '';
    position: absolute;
    background-color: var(--color-alt);
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 1rem;
    left: 0;
    z-index: -1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transform-origin: bottom left;
    transition: all 0.3s cubic-bezier(0.45, 1.43, 0.72, 1.18);
}

  .btn:active {
    transform: translateY(0);
    box-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
  
.btn:active::after {
    transform: translateY(0px);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}